.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  .header & {
    display: flex;
    align-items: center;
  }
  
  .hero & {
    padding-top: 200px;
    padding-bottom: 200px;
    width: 726px;
    text-align: center;
  }
  
  .footer & {
    display: flex;
    align-items: baseline;
  }
}
  